<h1><%= @recipe.title %></h1>

<p><%= @recipe.description %></p>

<ul>
  <li><%= link_to "Edit", edit_recipe_path(@recipe) %></li>
  <li><%= link_to "Destroy", recipe_path(@recipe), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<p><%= link_to "Back to recipes", root_path %></p>